@model IEnumerable<MvcMusic.Models.Music>

@{
    ViewBag.Title = "Index";
}

<h3>Müzik Listesi</h3>
<p>
    @using (Html.BeginForm("Index", "Musics", FormMethod.Get))
    {
        @Html.TextBox("search")<input type="submit" value="Ara">
    }
</p>

<p>
    @Html.ActionLink("Yeni Oluştur", "Create")
</p>
<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Artist)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.ID }, new {@class="btn btn-success btn-xs"}) |
            @Html.ActionLink("Ayrıntılar", "Details", new { id=item.ID }, new { @class = "btn btn-primary btn-xs" }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.ID }, new { @class = "btn btn-danger btn-xs" })
        </td>
    </tr>
}

</table>
